.headerLogo{
  width: 70px;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
}

.center { margin: 0 auto; }
.content{ margin: 0 auto; width: 960px; }
.clear { clear: both; }



#q1, #q2{ width: 100%; }

#q1{
background:url("http://lorempixel.com/1900/1800/transport") 50% 0 no-repeat fixed;
color: #3498DB;
height: 600px;
margin: 0;
padding: 200px 0 260px 0;
background-size: cover;
}
#q2{
background: url("http://lorempixel.com/1900/1800/sports") 50% 0 no-repeat fixed;
color: #3498DB;
height: 600px;
margin: 0;
padding: 200px 0 260px 0;
background-size: cover;
}
#q3{
background: url("http://lorempixel.com/1900/1800/") 50% 0 no-repeat fixed;
color: #3498DB;
height: 600px;
margin: 0;
padding: 200px 0 260px 0;
background-size: cover;
}
#q4{
background: url("http://lorempixel.com/1900/1800/abstract") 50% 0 no-repeat fixed;
color: #3498DB;
height: 600px;
margin: 0;
padding: 200px 0 260px 0;
background-size: cover;
}
