.headerLogo{
  width: 70px;
}

.body{
  background-image: url("./img/fondo.jpg");
}
.ima{
  width: auto;
  height: 200px;

}

.imaAlt{

}

.centered {
   text-align: center;
   font-size: 0;
}
.centered > div {
   float: none;
   display: inline-block;
   text-align: left;
   font-size: 13px;
}

#ima1{
background-color: #C9E2F3;
}
#ima2{
background-color: #117DC6;
}
